body {
    font-family: Arial, sans-serif;
    background-color: #121212; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #e0e0e0; 
}

.container {
    width: 500px;
    padding: 20px;
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: center;
}

h1 {
    color: #ffffff; 
    margin-bottom: 20px;
}

form p {
    margin: 10px 0;
}

label {
    font-size: 18px;
    color: #e0e0e0; 
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    font-size: 16px;
    background-color: #333;
    color: #e0e0e0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745; 
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #218838; 
}

#results {
    font-size: 22px;
    color: #ffffff; 
    margin-top: 20px;
}

#weight-guide {
    margin-top: 30px;
}

#weight-guide h3 {
    color: #ffffff; 
    margin-bottom: 10px;
}

#weight-guide p {
    color: #e0e0e0;
    margin: 5px 0;
}

#results,
#weight-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
}
